.bgImg{
    background-image: url('../../../assets/h1hTq3oQTR7pMwpAM0NcnvmG5a8.jpg');
    border-radius: 12px;
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
}