@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Inter", serif;
}


.testimonial-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ddd;
  opacity: 1;
}

.testimonial-swiper .swiper-pagination-bullet-active {
  background: #4f46e5; /* primary color */
}

.testimonial-swiper .swiper-slide {
  height: auto;
  padding-bottom: 50px; /* Space for pagination */
}